<h1>投稿一覧</h1>
 <%= render 'layouts/flash' %>

 <table class="table">
  <div class="text-right">
   <%= link_to new_anime_path, class: "btn btn-secondary text-right" do %>
   <i class="fas fa-plus-circle"></i>
   <% end %>
  </div>
   <thead>
     <tr>
       <th>投稿画像</th>
       <th>題名</th>
       <th>紹介</th>
       <th>投稿者</th>
     </tr>
   </thead>
   <tbody>
    <% @animes.each do |anime| %>
     <tr>
       <td></td>
       <td><%= anime.anime_name %></td>
       <td><%= anime.intruduction %></td>
       <td><%= anime.user.name %></td>
     </tr>
   </tbody>
 </table>
 <% end %>