<h1>投稿詳細</h1>
  <table class="table">
    <thead>
     <tr>
      <th>画像</th>
      <th>題名</th>
      <th>紹介</th>
      <th>投稿者</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>
        <% if @anime.image == nil %>
         <%= image_tag ('no_image.png'), size: '60x60' %>
        <% else %>
         <%= attachment_image_tag @anime, :image, size: '60x60' %>
        <% end %>
      </td>
      <td><%= @anime.anime_name %></td>
      <td><%= @anime.introduction %></td>
      <td><%= @anime.user.name %></td>
      <td>
       <% if @anime.user == current_user %>
        <%= link_to "削除", anime_path(@anime), method: :delete, data: {confirm: "削除しますか？"} %>
       <% end %>
      </td>
     </tr>
    </tbody>
  </table>
